body, div, span, button, code, input, select, textarea {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
.clearboth:after{
    content: " ";
    clear: both;
    display:block;
}
body {
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}
.page-menu {
    position: absolute;
    top: 60px;
    bottom: 0;
    background-color: rgb(238, 246, 244);
}
/*
.menu{
    background-color: rgb(210, 240, 255) !important;
}
.el-menu-item{
    background-color: rgb(180, 230, 255) !important;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover {
    background-color: rgb(120, 210, 255) !important;
}*/
